@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
.is-family-custom {
    font-family: "Noto Sans Display", serif;
    margin-top: 2.7rem !important; /* or any other value */
   

}
.my-4 {
    margin-top: 2.7rem !important; /* or any other value */
}
.my-5 {
    margin-top: 2.7rem !important; /* or any other value */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    
}
.my-6{
    margin-right: 3% !important;
    margin-left: 3% !important;
}
