body{
    background-color: black;
    font-family: var(--font-family);
    margin: 0;
    max-width: 1920px;
    max-height: 1080px;
}
:root {
    --font-family: "Noto Sans", sans-serif;
    --second-family: "Noto Rashi Hebrew", sans-serif;
    --third-family: "PT Serif", sans-serif;
    --font3: "Orelega One", sans-serif;
  }

.header {
    color: white;
    padding: 10px; /* Добавляем отступ для комфортного чтения */
    font-family: var(--font-family);
    font-size: 15px;
    position: fixed; /* Фиксируем хедер на месте */
    top: 0; /* Располагаем хедер сверху */
    left: 0; /* Располагаем хедер слева */
    right: 0; /* Располагаем хедер справа */
    z-index: 1000; /* Хедер всегда поверх остального контента */
    
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-right: 10em;


}
.name__menu{
    display: flex;
    gap: 10%;
    padding-left: 25%;
   
}
.name__object{
    font-family: var(--font-family);
    line-height: 1em; /* Или любое другое значение */
    list-style: none; /* Убираем стандартные маркеры списка */
    text-wrap: break-word; /* Или любое другое значение */
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    margin-top: auto;
    
}
.container{
    margin-left: 20px;
    margin-right: 20px;
    font-family: var(--font-family);
    font-size: 20px;
    color: white;
    font-weight: 500;
    
}
.logo{
    position: absolute;
    left: 10em;
    top: 1em;
    margin-right: 10px;
    width: 55px;
    height: 55px;
}
.header__logo{
    font-family: var(--font-family);
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 15px;
}
.name__button{
    border-radius: 19px;
    width: 150px;
    height: 45px;
    font-family: var(--font-family);
    font-size: 15px;
    background-color: #0000FF;
    color: white;
    border: none;
    cursor: pointer;
    
}